{{> menu id="dashboard"}}

<section class="ui segment">
{{> memberstats}}
    <table class="ui fixed table">
        <thead>
        <tr>
            {{> assessmentheader}}
            <th></th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">
                    {{latestAssessment.dateTime}}
                </td>
                <td>
                    {{latestAssessment.weight}} kg
                </td>
                <td>
                    {{latestAssessment.chest}} cm
                </td>
                <td>
                    {{latestAssessment.thigh}} cm
                </td>
                <td>
                    {{latestAssessment.bicep}} cm
                </td>
                <td>
                    {{latestAssessment.waist}} cm
                </td>
                <td>
                    {{latestAssessment.hips}} cm
                </td>
                <td>
                    {{#if latestAssessment.trendIsPositive}}
                        <h1>
                            <i class="green angle double up icon"></i>
                        </h1>
                    {{else}}
                        <h1>
                            <i class="red angle double down icon"></i>
                        </h1>
                    {{/if}}
                </td>
                <td colspan="2">
                    {{latestAssessment.comment}}
                </td>
            </tr>
        </tbody>
    </table>
    <section class="ui segment">
        <header class="ui header">
            {{member.firstName}} {{member.lastName}}'s goals
        </header>
        {{> addgoal}}
        <table class="ui fixed table">
            <thead>
                <tr>
                    {{#if goals}}
                        <th class="ui header">Category</th>
                        <th class="ui header">Target</th>
                        <th class="ui header">Deadline</th>
                        <th class="ui header">Status</th>
                    {{else}}
                        <th class="ui centered header" colspan="4">No goals set!</th>
                    {{/if}}
                </tr>
            </thead>
            <tbody>
                {{#each goals}}
                    <tr>
                        <td>
                            {{category}}
                        </td>
                        <td>
                            {{target}} {{#if isWeight}}kg{{else}}cm{{/if}}
                        </td>
                        <td>
                            {{dateString}}
                        </td>
                        <td>
                            {{status}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </section>
</section>