{{> trainermenu id="dashboard"}}

<section class="ui segment">
    <header class="ui header">
        Members
    </header>
    {{#each members}}
    <section class="ui segment">
        <section class="ui grid">
            <div class="one wide center aligned column">
                <h1>
                    <i class="user icon"></i>
                </h1>
            </div>
            <div class="three wide column">
                <a href ="/members/{{id}}">
                    <h3>{{firstName}} {{lastName}}</h3>
                </a>
                <p>
                    Assessments: {{numAssessments}}
                </p>
            </div>
            <div class="twelve wide right aligned column">
                <h1>
                    <a href="/trainerdashboard/{{id}}/deletemember">
                        <i class="red trash alternate icon"></i>
                    </a>
                </h1>
            </div>
        </section>
    </section>
    {{/each}}
</section>